<header class="common-header">
    <h1><a href="{{ site.url | default: site.baseurl }}/" style="text-decoration:none; color:inherit;">{{ site.title
            }}</a></h1>

    <div class="search-bar">
        <input type="text" id="search-input" placeholder="검색어를 입력하세요..." aria-label="Search" autocomplete="off" />
        <ul id="results-container"></ul>
    </div>

    <nav class="category-nav">
        {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    </nav>
</header>